@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">

    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/band7.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                
                <h1> RUGBY TEAM</h1>
                   
                 
            </div>
            </div>
        </div>
    
</div>
